.header {
  width: 100%;
  color: white;
  margin-bottom: 10px;
}

.title {
  font-family: 'Roboto Mono', monospace;
  font-size: 36px;
  float: left;
}

.scores {
  font-size: 22px;
  float: right;
}

.small {
  font-size:;
}

